<div class="border bg-secondary rounded p-2 my-2">
	<h4> Je suis <strong>ceinture noire citoyenne</strong></h4>
	<h4> Je peux créer un nouveau topic:<a href="#" class="btn btn-success">GO</a></h4>
	<div class="bg-light">
		<h3>Mes créations</h3>
		<ul>
			{% for topic in topics %}
			{% if app.user.id == topic.auteur.id %}
			<li><a href="">{{ topic.titre }}</a>
			<i class="fas fa-arrow-circle-up" style="color:green;"></i> {{ topic.votePositif }},
			<i class="fas fa-arrow-circle-down" style="color:red;"></i> {{ topic.voteNegatif }}
			{% endif %}
			{% endfor %}
		</li>
	</ul>
</div>
<div class="bg-light">
	<h3>Mes derniers avis</h3>
	<ul>
		{% for vote in votes %}
			{% if app.user.id == vote.user.id %}
		<li>
			<a href="{{ path('topics_show', { 'id': vote.topic.id}) }}">{{ vote.topic.titre }}</a>
			<i class="fas fa-arrow-circle-up" style="color:green;"></i>{{ vote.topic.votePositif }}
			<i class="fas fa-arrow-circle-down" style="color:red;"></i>{{ vote.topic.voteNegatif }}
		</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
</div>