{% extends 'base.html.twig' %}

{% block title %}Topics index{% endblock %}

{% block body %}
    <h1>Topics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Content</th>
                <th>Picture</th>
                <th>DateDeCreation</th>
                <th>Status</th>
                <th>VotePositif</th>
                <th>VoteNegatif</th>
                <th>Budget</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.titre }}</td>
                <td>{{ topic.Content }}</td>
                <td>{{ topic.picture }}</td>
                <td>{{ topic.dateDeCreation ? topic.dateDeCreation|date('Y-m-d') : '' }}</td>
                <td>{{ topic.status }}</td>
                <td>{{ topic.votePositif }}</td>
                <td>{{ topic.voteNegatif }}</td>
                <td>{{ topic.budget }}</td>
                <td>{{ topic.reponse }}</td>
                <td>
                    <a href="{{ path('topics_show', {'id': topic.id}) }}">show</a>
                    <a href="{{ path('topics_edit', {'id': topic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('topics_new') }}">Create new</a>
{% endblock %}
