{% extends 'base.html.twig' %}

{% block title %}Topics index{% endblock %}

{% block body %}
<div class="container">
    <a style="color: white" href="{{ path('topics_new') }}">Create new</a>
 

    <div class="row justify-content-around">
        {% for topic in topics %}
 <div class="card m-b-5" style="width: 20rem;">
  <img class="card-img-top" src="{{ topic.picture }}" alt="Card image cap">
  <div class="card-body p-0">
    <h5 class="card-title bg-dark text-light p-3" style="height: 7rem;">{{ topic.titre }}</h5>
    <p class="card-text p-2"><b>{{ topic.Content |length > 50 ? topic.Content|slice(0,50) ~ '...' : topic.Content }}</b></p>
    <p class ="p-2"><i>{{ topic.dateDeCreation ? topic.dateDeCreation|date('Y-m-d') : '' }}</i></p>


    {% if (topic.votePositif + topic.voteNegatif != 0)  %}
        {% set pourcentPos = 100 * topic.votePositif / (topic.votePositif + topic.voteNegatif) %}
        {% set pourcentNeg = 100 * topic.voteNegatif / (topic.votePositif + topic.voteNegatif) %}
    {% else %}
        {% set pourcentPos = 0 %}
        {% set pourcentNeg = 100 %}
    {% endif %}

    <div class="progress p-1">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ pourcentPos }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pourcentNeg }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <a href="{{ path('topics_show', {'id': topic.id}) }}" class="btn btn-primary">Détails</a>
  </div>
</div>


        {% endfor %}
</div>
</div>
{% endblock %}
