    {% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}
<div class="container">
    <div class="border bg-secondary rounded p-2 my-2">
        <h2 class="text-light text-center">{{ topic.titre }}</h2>
        <div>
            <div class="card text-center m-2">
                <div class="card-body p-1">
                    <img src="{{ topic.picture }}">
                </div>
                <div class="card-footer text-muted p-1">
                    <h5 class="card-title mb-1">{{ topic.content }}</h5>
                </div>

                <div class="card-body p-1">
                    <h5 class="card-title mb-1">Status: {{ topic.status }} | Budget: {{ topic.budget }} | Réponse: {{ topic.reponse }}</h5>
                </div>
                <div class="card-footer text-muted p-1">
                    <i class="fas fa-arrow-circle-up" style="color:green;"></i>{{ topic.votePositif }},
                    <i class="fas fa-arrow-circle-down" style="color:red;"></i>{{ topic.voteNegatif }},
                      ouvert le {{ topic.dateDeCreation ? topic.dateDeCreation|date('d/m/Y') : '' }}
                    {% set pourcentPos = 100 * topic.votePositif / (topic.votePositif + topic.voteNegatif) %}
                    {% set pourcentNeg = 100 * topic.voteNegatif / (topic.votePositif + topic.voteNegatif) %}


                    <div class="progress">

                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ pourcentPos }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pourcentNeg }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% if app.user.status == "representant" %}
                    <form action="{{ path('topics_edit', {'id' :topic.id}) }}" method="POST">
                        <p>Budget :</p>
                        <input type="number" name="budget">
                        <p>Réponse :</p>
                        <textarea name="response"></textarea>
                        <input type="submit" name="go">
                    </form>   
                {% endif %}
            </div>
        </div>
    <a href="{{ path('topics_index') }}" style="color: white;">back to list</a>
    </div>
</div>



{% endblock %}
